<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharePoint.Client.ServerRuntime.2016" version="16.0.4297.1000" targetFramework="net46" />
  <package id="SharePoint.dll.2016.SSOM" version="16.0.4327.1000" targetFramework="net46" />
  <package id="Sharepoint.WorkflowActions.2016" version="16.0.4291.1000" targetFramework="net46" />
</packages>